/* Estilos para el contenedor principal */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.menu {
    background-color: orange;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.menu a:hover {
    background-color: #ff9933;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: orange;
    text-align: center;
}

h1, h2, h3 {
    color: orange;
    text-align: center;
}

p {
    text-align: justify;
}

button, a {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover, a:hover {
    background-color: #ff9933;
}

.menu-section, .horario-section, .contacto-section, .pago-section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
}

.menu-item {
    margin-bottom: 20px;
}

/* Estilos para el botón de menú en dispositivos móviles */
.menu-toggle {
    display: none; /* Ocultar el botón de menú por defecto */
}

@media (max-width: 768px) {
    .content {
        padding-top: 150px;
        opacity: 0.7; /* Aplicar opacidad al contenido para dispositivos móviles */
    }

    .menu {
        padding: 10px 20px; /* Aumentar el padding para mayor área de clic en el botón */
    }

    .menu a {
        display: none; /* Ocultar los enlaces del menú en dispositivos móviles */
    }

    /* Mostrar el botón de menú en dispositivos móviles */
    .menu-toggle {
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1001; /* Asegurar que esté sobre el contenido */
    }
}